---
import { Image } from 'astro:assets';
import arrowIcon from '../assets/icons/arrow-right.svg';
const { date, title, text, href } = Astro.props.date;
---

<article class="bg-ww-black rounded p-2">
  <div class="bg-ww-white rounded p-4">
    <h3 class="mb-2 flex gap-2 text-xl font-bold">
      <span>{date}</span>
      <span class="text-lg">{title}</span>
    </h3>
    <p class="mb-4">{text}</p>
    <div class="flex justify-end">
      <a class="group flex items-center gap-1 text-lg font-bold" href={href}>
        <span class="">Zum Termin</span>
        <Image
          class="w-5 translate-y-[1px] transition-transform group-hover:translate-x-1"
          src={arrowIcon}
          alt="Arrow Icon"
        />
      </a>
    </div>
  </div>
</article>
